.whole{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12.5%;
  padding: 40px;
}
.container{
  width:90vh;
  height:45vh;
  border-radius: 20px;
  box-shadow: 10px 6px 10px 0px #b0acac;
  background-color:azure;
}
.author{
  text-align: end;
  margin-right: 4%;
  font-weight: 600;
}
.activities{
  margin-top: 4%;
  border-top: 4px solid #ccc;
}
.activities{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}
#quote{
  padding:0px 70px 0px 0px;
}
.quote-area{
  padding-left:30px;
  padding-top: 30px;
  height:25vh;
}
.fa-quote-right{
  position: relative;
  left:80%;
}
.fa-quote-left,.fa-quote-right{
  color:blue;
}
.info{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.fa-twitter,.fa-copy,.fa-volume-high{
  color:#49422d;
}
.info li{
  list-style: none;
  padding:10px;
  border:2px solid #6d6969;
  border-radius: 50%;
  outline: none;
}
.info li:hover{
  background-color:#f5d674;
}
button{
  border-style: none;
  padding:13px 22px;
  background-color: rgb(58, 58, 215);
  border-radius: 30px;
  color:#fff;
  font-size:large;
  font-weight: 700;
  box-shadow: 4px 6px 7px #575252;
}
#logo{
  width:100px;
}
.logo{
  position: absolute;
  top:5px;
  left:5px;
}
.fa-copy{
  cursor: grab;
}
.fa-volume-high{
  cursor:pointer;
}
.fa-twitter{
  cursor: progress;
}
#text::after{
  content:"copied";
  position:absolute;
  top:62%;
  left:31.5%;
  padding:10px;
  background-color: #575252;
  border-radius: 20px;
  font-size: 10px;
  color:#fff;
  display: none;
}
#text:focus{
  display: block;
}
button:hover{
  box-shadow: 0px 0px 5px rgb(32, 32, 139),
              0px 0px 15px rgb(40, 40, 148), 
              0px 0px 15px rgb(38, 38, 119);
}
@media (max-width:600px){
  .container{
    height:60vh;
    filter:opacity(0.9);
    margin-top: 25%;
  }
  .quote-area{ 
    height:10vh;
  }
  #quote{
    padding:10px;
  }
  .activities{
    margin-top: 70%;
  }
  .info{
    gap:5px;
  }
  button{
    padding:8px 12px;
  }
     
}